html, body {
    font-family: Open Sans, Roboto, Trebuchet, sans-serif !important;
}

h1, h2, h3, h4, h5 {
	color: #e65100;
}

.logo {
	& > img {
		width: 60px;
		margin-top: 40px;
		margin-left: 25px;
	}
}

.application .theme--dark.navigation-drawer {
	background: #f76c06; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f76c06 0%, #f76c06 57%, #f99e36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f76c06 0%,#f76c06 57%,#f99e36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f76c06 0%,#f76c06 57%,#f99e36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	& .list {
		background: transparent;
	}
}

.tapklik-gradient {
	background: #f76c06; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f76c06 0%, #f76c06 57%, #f99e36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f76c06 0%,#f76c06 57%,#f99e36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f76c06 0%,#f76c06 57%,#f99e36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.header {
	margin-bottom: 20px;
	padding-top: 40px;
	& h4 {
		color: #9e9e9e;
	}
}

.tapklik-drawer {
	margin-top: 0 !important;
	height: 100% !important;
	max-height: 100% !important;

	& .icon {
			color: #fff3e0;
	}

	& .item-title {
		color: #fff3e0;
		font-size: 13px;
		font-weight: bold;	
	}
}


.creatives-explorer {
	& > thead[style] {
		display: none !important;
	}
}

i.icon.small {
	font-size:15px;
}

.valign-middle {
	margin-top: auto;
	margin-bottom: auto;
}

.left-border {
	border-left: solid 1px rgba(0,0,0,0.12);
}


/*** UPLOADER ***/
#uploader {
	background: repeating-linear-gradient(
	  45deg,
	  #dddddd,
	  #dddddd 10px,
	  #eeeeee 10px,
	  #eeeeee 20px
	);

	.uploader-title {
		width: 200px;
		background-color: #eeeeee;
		padding:2px;
		margin-top: 29px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
		font-size: 18px;
		line-height:22px;
	}
}


/*** TABLES: PACING PREVIEW ***/

.pacing-preview {
	table.table thead th {
		text-align: left;
	}

	table.table tbody td, table.table tbody th {
		height:28px;
		text-align: left;
	}

	.material-icons {
		font-size: 16px;
	}
}

.no-headers {
	table.table thead {
		border: none !important;
	}
}

/*** FIXES ***/

.radio-group, .checkbox {
	& .input-group__details {
		display: none;
	}
}

//.dialog__content {
//	z-index: 5000;
//}

.card {
	overflow: hidden;
}

.stepper__content {
	bottom: initial;
}

.tapklik-chart {
	a {
		display: none !important;
	}
}

.preview {
	width: 140px;
	height: 140px;
	padding: 6px;
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 5px;
	display:flex; 
	align-items: center; 
	justify-content: center;
}
.thumbnail-details {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	padding: 8px 24px;
	span {
		color: #fff;
		font-size: 24px;
	}
}