/*** Colors ***/
$primary-color: color("orange", "darken-3") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("grey", "darken-3") !default;